smard_backfill.yaml
id: smard_backfill
namespace: smard.nuclear

description: |
  One-shot backfill of SMARD electricity data from 2022-01-01 to today.
  Fetches generation (by source), consumption, and wholesale prices (DE + FR)
  → writes NDJSON to GCS → loads into BigQuery staging table.
  Run this ONCE after infrastructure is provisioned.

inputs:
  - id: start_date
    type: STRING
    defaults: "2022-01-01"
    description: "Backfill start date (inclusive, YYYY-MM-DD)"

  - id: end_date
    type: STRING
    defaults: "2024-12-31"
    description: "Backfill end date (inclusive, YYYY-MM-DD)"

  - id: gcp_project
    type: STRING
    description: "GCP project ID"

  - id: gcs_bucket
    type: STRING
    description: "Target GCS bucket name (e.g. smard-raw-<project>)"

  - id: bq_dataset
    type: STRING
    defaults: "smard"
    description: "BigQuery dataset name"

variables:
  raw_table: "{{ inputs.bq_dataset }}.stg_smard_timeseries_raw"

tasks:
  - id: fetch_and_upload
    type: io.kestra.plugin.scripts.python.Script
    description: "Fetch SMARD API data for all configured filters and upload to GCS"
    beforeCommands:
      - pip install requests google-cloud-storage --quiet
    env:
      GOOGLE_APPLICATION_CREDENTIALS: "/tmp/sa-key.json"
      GCS_BUCKET: "{{ inputs.gcs_bucket }}"
      GCP_PROJECT: "{{ inputs.gcp_project }}"
    namespaceFiles:
      enabled: true
    script: |
      import os, json
      # Write SA key from KV store to filesystem
      sa_key = """{{ kv('GCP_SA_KEY') }}"""
      with open("/tmp/sa-key.json", "w") as f:
          f.write(sa_key)

      # Import and run the ingestion script
      import subprocess, sys
      result = subprocess.run([
          sys.executable,
          "ingestion/fetch_smard.py",
          "--all-filters",
          "--start", "{{ inputs.start_date }}",
          "--end", "{{ inputs.end_date }}",
      ], check=True)

  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.Query
    description: "Load all NDJSON files from GCS into staging table (external query)"
    projectId: "{{ inputs.gcp_project }}"
    serviceAccount: "{{ kv('GCP_SA_KEY') }}"
    location: "europe-west3"
    sql: |
      LOAD DATA INTO `{{ inputs.gcp_project }}.{{ render(vars.raw_table) }}`
      FROM FILES (
        format = 'JSON',
        uris = ['gs://{{ inputs.gcs_bucket }}/raw/filter=*/region=*/resolution=*/dt=*/*.jsonl']
      );

  - id: verify_row_counts
    type: io.kestra.plugin.gcp.bigquery.Query
    description: "Sanity check — row counts by filter"
    projectId: "{{ inputs.gcp_project }}"
    serviceAccount: "{{ kv('GCP_SA_KEY') }}"
    location: "europe-west3"
    fetchType: STORE
    sql: |
      SELECT filter_id, region, COUNT(*) AS row_count
      FROM `{{ inputs.gcp_project }}.{{ render(vars.raw_table) }}`
      GROUP BY filter_id, region
      ORDER BY filter_id, region;

  - id: trigger_dbt_cloud
    type: io.kestra.plugin.core.http.Request
    description: "Trigger the dbt Cloud job (deps + seed + run + test)"
    uri: "https://cloud.getdbt.com/api/v2/accounts/{{ kv('DBT_CLOUD_ACCOUNT_ID') }}/jobs/{{ kv('DBT_CLOUD_JOB_ID') }}/run/"
    method: POST
    headers:
      Authorization: "Token {{ kv('DBT_CLOUD_TOKEN') }}"
      Content-Type: "application/json"
    body: |
      {"cause": "Triggered by Kestra smard_backfill — {{ execution.id }}"}

  - id: wait_for_dbt_cloud
    type: io.kestra.plugin.scripts.python.Script
    description: "Poll dbt Cloud every 30s until the job finishes (success or error)"
    beforeCommands:
      - pip install requests --quiet
    script: |
      import requests, time, json

      account_id = "{{ kv('DBT_CLOUD_ACCOUNT_ID') }}"
      token      = "{{ kv('DBT_CLOUD_TOKEN') }}"

      trigger_output = '{{ outputs.trigger_dbt_cloud.body }}'
      run_id = json.loads(trigger_output)["data"]["id"]
      print(f"dbt Cloud run_id: {run_id}")

      headers = {"Authorization": f"Token {token}"}
      url = f"https://cloud.getdbt.com/api/v2/accounts/{account_id}/runs/{run_id}/"

      # Poll every 30s, timeout after 30 minutes
      # Status codes: 1=Queued, 2=Starting, 3=Running, 10=Success, 20=Error, 30=Cancelled
      for attempt in range(60):
          time.sleep(30)
          resp = requests.get(url, headers=headers, timeout=15)
          resp.raise_for_status()
          status = resp.json()["data"]["status"]
          label  = resp.json()["data"]["status_humanized"]
          print(f"  [{attempt+1}/60] {label} (status={status})")
          if status == 10:
              print("✅ dbt Cloud job completed successfully")
              break
          elif status in (20, 30):
              raise RuntimeError(f"❌ dbt Cloud job failed: {label}")
