kestra/flows/smard_daily.yaml
id: smard_daily
namespace: smard.nuclear

description: |
  Daily incremental load of SMARD electricity data.
  Fetches yesterday's data → GCS → BigQuery → dbt Cloud.
  Scheduled at 06:00 UTC every day.

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 12 * * *"

inputs:
  - id: run_date
    type: STRING
    defaults: "{{ now() | dateAdd(-1, 'DAYS') | date('yyyy-MM-dd') }}"
    description: "Date to fetch (default: yesterday)"

tasks:
  - id: fetch_and_upload
    type: io.kestra.plugin.scripts.python.Script
    description: "Fetch yesterday's SMARD data and upload to GCS"
    beforeCommands:
      - pip install requests google-cloud-storage --quiet
    env:
      GCS_BUCKET: "smard-raw-my-de-course-2026"
      GCP_PROJECT: "my-de-course-2026"
    namespaceFiles:
      enabled: true
    script: |
      import subprocess, sys
      subprocess.run([
          sys.executable, "fetch_smard.py",
          "--all-filters",
          "--resolution", "day",
          "--start", "{{ inputs.run_date }}",
          "--end",   "{{ inputs.run_date }}",
      ], check=True)

  - id: debug_fetch_and_upload_output
    type: io.kestra.plugin.core.debug.Return
    format: "Finished fetch_and_upload for date: {{ inputs.run_date }}"

  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    description: "Load yesterday's NDJSON files into BigQuery"
    projectId: "my-de-course-2026"
    location: "europe-west3"
    destinationTable: "my-de-course-2026.smard.stg_smard_timeseries_raw"
    format: JSON
    from: # Corrected from 'sourceUris' to 'from' as per schema
      - "gs://smard-raw-my-de-course-2026/raw/filter=254/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=410/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=1223/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=1224/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=1225/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=1226/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=1227/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=1228/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=4066/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=4067/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=4068/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=4069/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=4070/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=4071/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
      - "gs://smard-raw-my-de-course-2026/raw/filter=4169/region=DE/resolution=day/dt={{ inputs.run_date }}/{{ inputs.run_date }}_{{ inputs.run_date }}.jsonl"
    writeDisposition: WRITE_APPEND
    autodetect: false
    schema:
      fields:
        - name: filter_id
          type: INT64
        - name: region
          type: STRING
        - name: resolution
          type: STRING
        - name: timestamp_ms
          type: INT64
        - name: value
          type: FLOAT64
        - name: ingestion_date
          type: DATE
        - name: fetched_at
          type: TIMESTAMP

  - id: debug_load_to_bigquery_output
    type: io.kestra.plugin.core.debug.Return
    format: |
      BigQuery Load completed:
      - Destination Table: {{ outputs.load_to_bigquery.destinationTable }}
      - Job ID: {{ outputs.load_to_bigquery.jobId }}
      - Rows Loaded: {{ outputs.load_to_bigquery.rows }}

  - id: trigger_dbt_cloud
    type: io.kestra.plugin.core.http.Request
    description: "Trigger dbt Cloud job"
    uri: "https://cloud.getdbt.com/api/v2/accounts/{{ kv('DBT_CLOUD_ACCOUNT_ID') }}/jobs/{{ kv('DBT_CLOUD_JOB_ID') }}/run/"
    method: POST
    headers:
      Authorization: "Token {{ kv('DBT_CLOUD_TOKEN') }}"
      Content-Type: "application/json"
    body: |
      {"cause": "Daily update {{ inputs.run_date }}"}

  - id: debug_trigger_dbt_cloud_output
    type: io.kestra.plugin.core.debug.Return
    format: |
      dbt Cloud Triggered:
      - Response Code: {{ outputs.trigger_dbt_cloud.code }}
      - Response Body: {{ outputs.trigger_dbt_cloud.body }}

errors:
  - id: notify_on_failure
    type: io.kestra.plugin.core.log.Log
    message: "❌ smard_daily FAILED for {{ inputs.run_date }}. Execution ID: {{ execution.id }}"
    level: ERROR