kestra/flows/smard_daily.yaml
id: smard_daily
namespace: smard.nuclear

description: |
  Daily incremental load of SMARD electricity data.
  Fetches yesterday's data for all configured filters → GCS → BigQuery → dbt.
  Scheduled at 06:00 UTC every day (SMARD data lags ~1 day).

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 6 * * *"

inputs:
  - id: run_date
    type: STRING
    defaults: "{{ now() | dateAdd(-1, 'DAYS') | date('yyyy-MM-dd') }}"
    description: "Date to fetch (default: yesterday)"

  - id: gcp_project
    type: STRING
    description: "GCP project ID"

  - id: gcs_bucket
    type: STRING
    description: "Target GCS bucket name"

  - id: bq_dataset
    type: STRING
    defaults: "smard"

variables:
  raw_table: "{{ inputs.bq_dataset }}.stg_smard_timeseries_raw"

tasks:
  - id: fetch_and_upload
    type: io.kestra.plugin.scripts.python.Script
    description: "Fetch yesterday's data and upload to GCS"
    beforeCommands:
      - pip install requests google-cloud-storage --quiet
    env:
      GCS_BUCKET: "{{ inputs.gcs_bucket }}"
      GCP_PROJECT: "{{ inputs.gcp_project }}"
      GOOGLE_APPLICATION_CREDENTIALS: "/tmp/sa-key.json"
    namespaceFiles:
      enabled: true
    script: |
      sa_key = """{{ kv('GCP_SA_KEY') }}"""
      with open("/tmp/sa-key.json", "w") as f:
          f.write(sa_key)
      import subprocess, sys
      subprocess.run([
          sys.executable, "fetch_smard.py",
          "--all-filters",
          "--start", "{{ inputs.run_date }}",
          "--end",   "{{ inputs.run_date }}",
      ], check=True)

  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.Query
    description: "Append today's GCS files into staging table (merge to deduplicate)"
    projectId: "{{ inputs.gcp_project }}"
    serviceAccount: "{{ kv('GCP_SA_KEY') }}"
    location: "europe-west3"
    sql: |
      -- Merge prevents duplicates if flow reruns on same date
      MERGE `{{ inputs.gcp_project }}.{{ render(vars.raw_table) }}` AS target
      USING (
        SELECT *
        FROM EXTERNAL_QUERY(
          'projects/{{ inputs.gcp_project }}/locations/europe-west3/connections/smard-gcs',
          '''SELECT * FROM READ_FILES(
            'gs://{{ inputs.gcs_bucket }}/raw/filter=*/region=*/resolution=*/dt={{ inputs.run_date }}/*.jsonl',
            format => 'JSON'
          )'''
        )
      ) AS source
      ON  target.filter_id    = source.filter_id
      AND target.region       = source.region
      AND target.timestamp_ms = source.timestamp_ms
      WHEN NOT MATCHED THEN INSERT VALUES (
        source.filter_id, source.region, source.resolution,
        source.timestamp_ms, source.value, source.ingestion_date, source.fetched_at
      );

  - id: trigger_dbt_cloud
    type: io.kestra.plugin.core.http.Request
    description: "Trigger the dbt Cloud incremental job"
    uri: "https://cloud.getdbt.com/api/v2/accounts/{{ kv('DBT_CLOUD_ACCOUNT_ID') }}/jobs/{{ kv('DBT_CLOUD_JOB_ID') }}/run/"
    method: POST
    headers:
      Authorization: "Token {{ kv('DBT_CLOUD_TOKEN') }}"
      Content-Type: "application/json"
    body: |
      {"cause": "Triggered by Kestra smard_daily — {{ inputs.run_date }}"}

  - id: wait_for_dbt_cloud
    type: io.kestra.plugin.scripts.python.Script
    description: "Poll dbt Cloud until the job finishes — fail the flow if dbt fails"
    beforeCommands:
      - pip install requests --quiet
    script: |
      import requests, time, json

      account_id = "{{ kv('DBT_CLOUD_ACCOUNT_ID') }}"
      token      = "{{ kv('DBT_CLOUD_TOKEN') }}"

      trigger_output = '{{ outputs.trigger_dbt_cloud.body }}'
      run_id = json.loads(trigger_output)["data"]["id"]
      print(f"dbt Cloud run_id: {run_id}")

      headers = {"Authorization": f"Token {token}"}
      url = f"https://cloud.getdbt.com/api/v2/accounts/{account_id}/runs/{run_id}/"

      for attempt in range(60):
          time.sleep(30)
          resp = requests.get(url, headers=headers, timeout=15)
          resp.raise_for_status()
          status = resp.json()["data"]["status"]
          label  = resp.json()["data"]["status_humanized"]
          print(f"  [{attempt+1}/60] {label} (status={status})")
          if status == 10:
              print("✅ dbt Cloud job completed successfully")
              break
          elif status in (20, 30):
              raise RuntimeError(f"❌ dbt Cloud job failed: {label}")

errors:
  - id: notify_on_failure
    type: io.kestra.plugin.core.log.Log
    message: "❌ smard_daily FAILED for run_date={{ inputs.run_date }}. Check task logs above."
    level: ERROR
